[Desktop Entry]
Version=1.4
Type=Application
Name=StellarBatchSolver
Exec=StellarBatchSolver
Icon=StellarBatchSolverIcon
Categories=Science;Astronomy
